<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.cqupt.diseaseassociationmining.mapper.UserLogMapper">


    <select id="getAllLogs" resultType="com.edu.cqupt.diseaseassociationmining.entity.UserLog">
        SELECT * FROM user_log
    </select>

</mapper>